<%- include('partials/header') %>

<div class="container mx-auto">
    <h2 class="text-3xl mt-10">Créer un Nouveau Document</h2>
    <form>
        <!-- Formulaire de création d'un document -->
    </form>
</div>

<%- include('partials/footer') %>
