<%- include('header') %>

<div class="container mx-auto">
    <h2 class="text-3xl mt-10">Tableau de Bord</h2>
    <div>
        <!-- Contenu du tableau de bord -->
    </div>
</div>

<%- include('footer') %>
