<%- include('partials/header') %>

<div class="container mx-auto">
    <h2 class="text-3xl mt-10">Éditer le Document: <%= documentId %></h2>
    <form>
        <!-- Formulaire d'édition du document -->
    </form>
</div>

<%- include('partials/footer') %>
