<%- include('partials/header') %>

<div class="container mx-auto">
    <h1 class="text-center text-4xl mt-10">Bienvenue sur CollabSheet</h1>
    <p class="text-center mt-5">Description</p>
</div>

<%- include('partials/footer') %>
