<%- include('partials/header') %>


<div class="container mx-auto">
    <h2 class="text-3xl mt-10">Connexion</h2>
    <form>
        <!-- Formulaire de connexion -->
    </form>
</div>

<%- include('partials/footer') %>

