<%- include('partials/header') %>


<div class="container mx-auto">
    <h2 class="text-3xl mt-10">Profil Utilisateur</h2>
    <form>
        <!-- Formulaire de mise à jour du profil -->
    </form>
</div>

<%- include('partials/footer') %>

